---
import type { SubcommunitiesEntry } from "@/types";
import Share from "@components/common/Share.astro";
import { Image } from "astro:assets";
import BaseLayout from "@components/base/BaseLayout.astro";
import { upperHumanize, markdownify, slugify } from "@lib/textConverter";
import Button from "@components/common/Button.astro";
import { formatDate } from "@lib/formatDate";

import {
  FaRegCalendar,
  FaTags,
} from "react-icons/fa";
import { isLabeledStatement } from "typescript";

interface Props {
  entry: SubcommunitiesEntry;
}

const { entry } = Astro.props;
const {
  title,
  description,
  image,
  date,
  category,
  location,
  imageAlt
} = entry.data

const entryDate = date ? formatDate(date) : null;
---

<BaseLayout title={title} description={description} image={image?.src}>
  <section class="section">
    <div class="container">
      <div class="row justify-center">
        <article class="lg:col-10 flex flex-wrap content-start">
          <!-- Title -->
          <h1 set:html={title} class="p-2 col basis-full min-w-72" />
          <!-- Cover Photo -->
          <section class="col basis-1/2 p-2 min-w-72 min-h-72">
            <div class="glass rounded-lg p-2 h-full intersect:animate-fadeUp opacity-0">
              {
                image && (
                  <div class="col basis-1/2 p-2 min-h-30">
                    <div class="glass rounded-lg intersect:animate-fadeDown opacity-0">
                      <Image
                        src={image}
                        width={1920}
                        height={1080}
                        alt={imageAlt}
                        class="w-full rounded-lg"
                        format="webp"
                      />
                    </div>
                  </div>
                )
              }
              {
                description && (
                  <div class="m-4">
                    {description}
                  </div>
                )
              }
            </div>
          </section>
          <!-- Details -->
          <section class="col basis-1/2 p-2 min-w-72 min-h-72">
            <div class="glass rounded-lg p-2 h-full intersect:animate-fadeUp opacity-0">
              <!-- Link -->
              {
                description && (
                  <div>
                    <li class="m-4 justify-center inline-block">
                      <Button
                        label="Link to Community"
                        link={location} 
                        hoverInvert
                      />
                    </li>
                  </div>
                )
              }
              {
                date && (
                  <div class="m-4">
                    <FaRegCalendar className={"mr-2 -mt-1 inline-block"} />
                    {"Added on " + entryDate}
                  </div>
                )
              }
              {
                category && (
                  <div class="m-4 min-h-30">
                    <FaTags className={"mr-2 -mt-1 inline-block"} />
                    {"Categories:"}
                    {category.map((element: string) => (
                      <li class="list-none">
                        {/* Use markdownify to convert markdown to HTML for each technology */}
                        <div
                          class="mr-2 px-2 h-8 flex glass-t shadow-none rounded text-txt-p dark:text-darkmode-txt-p items-center justify-center text-center"
                          set:html={markdownify(element)}
                        />
                      </li>
                    ))}
                  </div>
                )
              }
            </div>
          </section>
        </article>
      </div>
    </div>
  </section>
</BaseLayout>
